
/* header para todas as páginas */

.header {
  position: fixed;
  border-style: solid;
  border-width: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-item {
  font-family: 'Quattrocento Sans', sans-serif;
  background-color: gold;
}

/* footer para todas as páginas */

.footer {
  position: fixed;
  border-style: solid;
  border-width: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  bottom: 0;
  background-color: red;
  box-sizing: border-box;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-item {
  font-family: 'Quattrocento Sans', sans-serif;
  background-color: gold;
}

/* todos os arquivos */

.main {
  width: 100%;
  background-color: green;
  justify-content: center;
}

.spacer{
  height: 6rem;
}


/* index.html */

.index-titulo {
	display: flex;
	width: 100%;
  flex-direction: column;
}

.titulo {
  font-family: 'DM Serif Display', serif;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;

}

.main-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 50%
}

.subtitulo{
  font-family: 'DM Serif Display', serif;
  text-align: right;
  font-style: italic;
  margin-right: 1rem;
}

.descricao {
  font-family: 'Quattrocento Sans', sans-serif;
  text-align: center;
}

.secoes {
	display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.secao {
  display: flex;
  text-align: left;
  width: 50%;
  background-color: gold;
}

.secao-imagem {
  background-color: gold;
}

.secao-info {
	display: flex;
  flex-wrap: wrap;
}

.secao-nome {
  font-family: 'DM Serif Display', serif;
  font-size: 2rem;
  font-weight: bold;
  width: 100%;
}

.secao-descricao{
  font-family: 'Quattrocento Sans', sans-serif;
  width: 100%;
}

.about-me {
  display: flex;
  justify-content: center;
}

.about-me-imagem {
  background-color: gold;
}

/* secao.html */

.jogos-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  border-radius: 50%;
}

/* projeto.html */

.subtitulo-jogo {
	text-align: center;
	font-style: italic;
}

.projeto-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 0%;
}

.informacoes-1 {
  display: flex;
  justify-content: space-around;
}

.equipe {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.membro {
  font-family: 'Quattrocento Sans', sans-serif;
  background-color: gold;
}

.ano {
  width: 50%;
  font-family: 'Quattrocento Sans', sans-serif;
  background-color: gold;
  text-align: center;
}
