
/* header para todas as páginas */

a {
  text-decoration: none;
}


.header {
  position: fixed;
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
  background-color: #BF414C;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-item {
  font-family: 'DM Serif Display', sans-serif;
  font-size: 2rem;
  color: #000000;
}

/* footer para todas as páginas */

.footer {
  position: fixed;
  padding: 0.5rem;
  width: 100%;
  bottom: 0;
  background-color: #BF414C;
  box-sizing: border-box;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-item {
  font-family: 'Quattrocento Sans', sans-serif;
  color: #000000;
}

/* todos os arquivos */

.main {
  width: 100%;
  background-color: #EFEAEC;
  justify-content: center;
}

.spacer{
  height: 6rem;
}


/* index.html */

.index-titulo {
	display: flex;
	width: 100%;
  flex-direction: column;
}

.titulo {
  font-family: 'DM Serif Display', serif;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  color: #000000;

}

.main-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 50%
}

.subtitulo{
  font-family: 'DM Serif Display', serif;
  text-align: right;
  font-style: italic;
  margin-right: 1rem;
  color: #000000;
}

.descricao {
  font-family: 'Quattrocento Sans', sans-serif;
  text-align: center;
  color: #000000;
}

.secoes {
	display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.secao {
  display: flex;
  text-align: left;
  flex-basis: 49.5%;
  background-color: #DAD292;
  margin: 0.1rem;
}

.secao-imagem {
  background-color: gold;
}

.secao-info {
	display: flex;
  flex-wrap: wrap;
}

.secao-nome {
  font-family: 'DM Serif Display', serif;
  font-size: 2rem;
  font-weight: bold;
  width: 100%;
  color: #000000;
}

.secao-nome a{
  color: #000000;
}

.secao-descricao{
  font-family: 'Quattrocento Sans', sans-serif;
  color: #000000;
  width: 100%;
}

.about-me {
  display: flex;
  justify-content: center;
}

.about-me-imagem {
  background-color: gold;
}

/* secao.html */

.jogos-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  border-radius: 50%;
}

/* projeto.html */

.subtitulo-jogo {
	text-align: center;
	font-style: italic;
}

.projeto-descricao {
  display: flex;
  justify-content: center;
  background-color: #DAD292;
  margin: 0.5rem; 
}

.projeto-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 0%;
}

.informacoes-1 {
  display: flex;
  justify-content: space-around;
}

.equipe {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.membro {
  font-family: 'Quattrocento Sans', sans-serif;
  color: #000000;
}

.ano {
  width: 50%;
  font-family: 'Quattrocento Sans', sans-serif;
  color: #000000;
  text-align: center;
}

@media (max-width: 500px) {
  .secoes {
  flex-direction: column;
  }
  .secao {
  flex-basis: 100%;
  }
}